.right {
  float: right;
  
}
#main{
  min-height: 400px;
  padding: 30px;
  width: 100%;
}
#home_img{
  text-align: center;
}
.create{
  border: 2px solid #ffafce !important;
}
form label{
  width: 150px;
  text-align: left;
}
select{
  background-color: lightgray;
  padding: 4px;
  width: 195px;
}


a:hover{
  background: none !important;
}